# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [ ]:
import pandas as pd

In [ ]:
!wget https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip

--2023-08-05 10:01:20--  https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/homeworks/Data.zip [following]
--2023-08-05 10:01:20--  https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/homeworks/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip.1’

Data.zip.1          100%[===================>]  16.33K  --.-KB/s    in 0s

2023-08-05 10:01:20 (36.1 MB/s) - ‘Data.zip.1’ saved [16727/16727]

In [13]:
!unzip Data.zip

Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

**Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.**


Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

**Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶**

In [20]:
df = pd.DataFrame()
for i in range(10):
    df_s = pd.read_csv('Data/Students_info_{}.csv'.format(i))
    df_m = pd.read_csv('Data/Students_marks_{}.csv'.format(i))
    df = pd.concat([df, pd.merge(df_s, df_m, on = 'index')])
df.head(5)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

**Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.**

In [21]:
df = df.drop('index', axis = 1)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

**Задание 3. Выведите на экран размеры полученной таблицы**

In [22]:
df.shape

(1000, 9)

**Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)**

In [23]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

**Задание 5. Проверьте, есть ли в таблице пропущенные значения**

In [24]:
df.isnull().sum()
# пропущенных значений в таблице нет

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

**Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)**

In [25]:
print("math","-", df["math score"].mean())
print("reading","-", df["reading score"].mean())
print("writing","-", df["writing score"].mean())

math - 66.089
reading - 69.169
writing - 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [26]:
df.groupby("test preparation course").mean()
# если студент проходил курс подготовки, то в среднем его оценки выше (по всем предметам)

<ipython-input-26-abab5024e7f5>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("test preparation course").mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
set(df["lunch"])

{'free/reduced', 'standard'}

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [27]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})
df.head(3)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93

**Зафиксируем минимальный балл для сдачи экзамена**

In [28]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
print((df["math score"] >= passmark).sum() / 1000)  # df.shape[0] -> 1000
print(((df["math score"] >= passmark) & (df["test preparation"] == 'completed')).sum() / (df["test preparation"] == 'completed').sum())
print((((df["math score"] < passmark) & (df["test preparation"] == 'none') & (df["gender"] == "female")).sum()) / ((df["gender"] == "female") & (df["test preparation"] == "none")).sum())

0.865
0.9217877094972067
0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
%%time
print(df.groupby("race/ethnicity")["reading score"].apply(lambda x: x.mean()))

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
CPU times: user 8.32 ms, sys: 0 ns, total: 8.32 ms
Wall time: 11.9 ms

In [ ]:
%%time
print(df.groupby("education")["writing score"].apply(lambda x: x.min()))

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
CPU times: user 2.63 ms, sys: 926 µs, total: 3.56 ms
Wall time: 3.57 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
%%time
for i in set(df["race/ethnicity"]):
  print(i,"-", df[df["race/ethnicity"] == i]["reading score"].mean())

# время выполнения кода с циклом в несколько раз превышает время выполнения кода с groupby

group B - 67.35263157894737
group D - 70.03053435114504
group C - 69.10344827586206
group E - 73.02857142857142
group A - 64.67415730337079
CPU times: user 18.7 ms, sys: 882 µs, total: 19.6 ms
Wall time: 27.2 ms

In [ ]:
%%time
for i in set(df["education"]):
  print(i,"-", df[df["education"] == i]["writing score"].min())

# время выполнения кода с циклом в несколько раз превышает время выполнения кода с groupby

master's degree - 46
some high school - 10
high school - 15
associate's degree - 35
bachelor's degree - 38
some college - 19
CPU times: user 16.9 ms, sys: 0 ns, total: 16.9 ms
Wall time: 21 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
grouped = pd.pivot_table(df, index = ["gender", "education"])
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

**Задание 14. Сколько студентов успешно сдали экзамен по математике?**

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
df["Math_PassStatus"] = df["math score"].map(lambda x: "P" if x >= passmark else "F")
print("Math Passed:", (df["Math_PassStatus"] == "P").sum())
print("Math Failed:", (df["Math_PassStatus"] == "F").sum())

print("***")

df["Reading_PassStatus"] = df["reading score"].map(lambda x: "P" if x >= passmark else "F")
print("Reading Passed:", (df["Reading_PassStatus"] == "P").sum())
print("Reading Failed:", (df["Reading_PassStatus"] == "F").sum())

print("***")

df["Writing_PassStatus"] = df["writing score"].map(lambda x: "P" if x >= passmark else "F")
print("Writing Passed:", (df["Writing_PassStatus"] == "P").sum())
print("Writing Failed:", (df["Writing_PassStatus"] == "F").sum())

Math Passed: 865
Math Failed: 135
***
Reading Passed: 910
Reading Failed: 90
***
Writing Passed: 886
Writing Failed: 114

**Задание 15. Сколько студентов успешно сдали все экзамены?**

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
df["OverAll_PassStatus"] = ((df["Math_PassStatus"] == "P") & (df["Reading_PassStatus"] == "P") & (df["Writing_PassStatus"] == "P")).apply(lambda x: "P" if x else "F")
print("All Passed:", (df["OverAll_PassStatus"] == "P").sum())

All Passed: 812

**Задание 16. Переведем баллы в оценки**

**Система перевода баллов в оценки**

  **больше 90 = A**

  **80-90 = B**

  **70-80 = C**

  **60-70 = D**

  **50-60 = E**

  **меньше 50 = F (Fail)**

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
def GetGrade(average_mark):
  if average_mark >= 90:
    return "A"
  if average_mark >= 80:
    return "B"
  if average_mark >= 70:
    return "C"
  if average_mark >= 60:
    return "D"
  if average_mark >= 50:
    return "E"
  return "F"

In [ ]:
df["Grade"] = df[["math score", "reading score", "writing score"]].mean(axis = 1).map(GetGrade)
for i in set(df["Grade"]):
  print(i,"-", (df["Grade"] == i).sum())
df.head(10)

E - 182
F - 103
C - 261
D - 256
B - 146
A - 52

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
5,female,group B,associate's degree,standard,none,group1,71,83,78,P,P,P,P,C
6,female,group B,some college,standard,completed,group1,88,95,92,P,P,P,P,A
7,male,group B,some college,free/reduced,none,group1,40,43,39,F,F,F,F,F
8,male,group D,high school,free/reduced,completed,group1,64,64,67,P,P,P,P,D
9,female,group B,high school,free/reduced,none,group1,38,60,50,F,P,P,F,F